@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  border: none;
  border-radius: 6px;
  min-height: 0;
  font-family: "FiraCode Nerd Font";
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: @base;
  border: 1px solid @surface0;
  border-radius: 12px;
}

tooltip {
  background-color: @base;
  border: 1px solid @overlay1;
  color: @text;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  background-color: @surface0;
  border: 1px solid @surface1;
  color: @text;
  margin: 6px 6px 6px 0px;
  padding: 2px 8px;
}

#workspaces {
  background: transparent;
  border: none;
  margin: 6px 0px 6px 6px;
  padding: 0;
}

#workspaces button {
  all: initial;
  color: @text;
  background-color: @surface0;
  border: 1px solid @surface1;
  padding: 2px 8px;
  border-radius: 6px;
}

#workspaces button:not(:first-child) {
  margin-left: 6px;
}

#workspaces button.active {
  background-color: @surface0;
  border-color: @blue;
  color: @text;
}

#workspaces button.urgent {
  background-color: @overlay1;
  color: @text;
  border-color: @red;
}

#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @overlay1;
  border: 1px solid @surface1;
  color: @red;
}

.custom-spotify {
  padding-left: 6px;
  padding-right: 6px;
}
