window {
  background-color: rgba(40, 40, 40, 0.95); /* Gruvbox dark background */
  border-radius: 15px;
  padding: 40px;
}

button {
  background: #282828;
  border-radius: 10px;
  border: 2px solid #d79921;
  color: #ebdbb2;
  margin: 20px;
  padding: 15px;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

button:hover {
  background: #d79921;
  color: #282828;
}

#lock {
  border-color: #83a598;
}

#logout {
  border-color: #fabd2f;
}

#suspend {
  border-color: #b8bb26;
}

#hibernate {
  border-color: #8ec07c;
}

#reboot {
  border-color: #d3869b;
}

#shutdown {
  border-color: #fb4934;
}
